<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TiwenJi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B4B91DF1C8FB831002C1855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B4B91FB1C8FB831002C1855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B4B92061C8FB831002C1855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
