<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>11</key>
	<string>1、正常的体温升高。
孩子的体温易于波动。感染、环境以及运动等多方面因素都可使孩子的体温
发生变化。
 
2、异常的体温升高（发热）
体温异常升高也就是发热，与哭闹后造成的体温升高是不同的。发热时不仅体温增高，还同时存在因疾病引起的其他异常表现，例如面色苍白、呼吸加速、情绪不稳定、恶心、呕吐、腹泻、皮疹等。由于小儿个体差异和导致疾病原因的不同，发热的表现和过程存在很大的差别。比如同样是肺炎，有的孩子发热不高，有的孩子高热达39℃?40℃</string>
	<key>111</key>
	<string>11.怎样区分孩子正常的体温升高或降低</string>
	<key>110</key>
	<string>10.怎么选择儿童退烧药</string>
	<key>109</key>
	<string>9.小儿感​冒​补​水</string>
	<key>108</key>
	<string>8.小儿发烧的物理降温方法</string>
	<key>107</key>
	<string>7. 6招简单的退烧法</string>
	<key>106</key>
	<string>6.小儿发热的治疗</string>
	<key>105</key>
	<string>5.小儿发烧的诊断及并发症</string>
	<key>104</key>
	<string>4.小儿发烧的检查</string>
	<key>103</key>
	<string>3.小儿发烧的临床表现</string>
	<key>102</key>
	<string>2.小儿发烧的病因</string>
	<key>101</key>
	<string>1.什么是小儿热</string>
	<key>10</key>
	<string>    目前国内使用的退烧药物主要有三类：布洛芬、扑热息痛和阿司匹林。
对于12岁以下孩子，一般不建议使用阿司匹林作为退热药物。
美林是常用的婴儿退热药，它的成分是布洛芬。但是布洛芬对于儿科而言是不太安全的，它有可能引起肾脏损害，特别是由于腹泻引起的发烧，如果处在脱水状态引起的肾脏损害还更加严重，所以要慎用。
扑热息痛，又叫对乙酰氨基酚，常用的幼儿百服咛和泰诺林都是这个成分。因此如果孩子发烧超过38.5℃，最好先喂泰诺林。
一般情况下，布洛芬的退热效果可持续6~8小时；而扑热息痛只能维持3~4小时。
然而退烧药一天最多不能超过四次，所以如果反复高烧，应将泰诺林和美林交替使用，以减少反复应用一种药物可能带来不良作用，又可维持退热的效果。</string>
	<key>9</key>
	<string>    感冒时多喝水，注意休息。可以适量的服用药物。感冒长期不好，是因为机体免疫力较弱。最根本的办法是要提高机体免疫力，这样还可以更好的预防感冒的发生。一定加强户外运动，提高机体的免疫力。
如何提高免疫力？

人体内营养素的充足和均衡关系到机体免疫系统的强弱，与某些传染病也有一定的相关性。根据已有的营养学研究成果，人体得到充足的营养素补充，将大大提高人体对疾病的免疫力，在预防非典型肺炎方面发挥作用。那么什么是免疫力呢？免疫力简单的说就是人体对各种疾病的抵抗力，而抵抗力来自身体内的免疫系统，免疫系统由胸腺、骨髓、脾脏、淋巴组织等免疫器官和巨噬细胞、自然杀伤细胞、淋巴细胞等免疫细胞组成。
 
健全的免疫系统有三大功能，一是防御功能。免疫力强能帮助机体消灭外来的细菌、病毒以及避免发生疾病，有保护机体不受损害的防御能力；二是稳定功能。免疫功能好，能帮助机体修复或消除人体内新陈代谢、受损伤或衰老死亡的组织细胞，维持机体代谢的内环境始终处于稳定状态；三是监控功能。免疫力强可以帮助机体杀伤和消除异常突变细胞。
 
人体的各种机能只有达到一种平衡的状态才能保证健康，机体的营养状况与免疫机能的强弱密切相关。在补充营养的过程中，要注意通过均衡营养保证机体的免疫能力。

均衡营养免疫三步曲
几种典型的与免疫有关的营养素是如何搭建人体营养——免疫系统的。
 
首先，“VA＋Zn”组合（维生素A加锌）构筑起“均衡营养免疫三步曲”的第一步，它们能够帮助阻止病毒进入人体，使呼吸道免受感染。医学实验表明：维生素A是维持上皮组织正常机能的必须物质，可以促进呼吸道等表皮细胞的分化和修复，保证表皮的完整性，从而抵抗病菌入侵；维生素A有“抗感染维生素”之称。锌与维生素A协同作用可以改善维生素A的吸收和运转。所以，维生素A和锌同时作用可有效阻止病毒的入侵。

维生素C构筑起“均衡营养免疫三步曲”的第二步，帮助杀灭进入人体的病毒。因为它可以干扰病毒侵害白血球，激活全身的白细胞，增强白细胞对病毒的吞噬能力，杀灭病菌，从而增强人体的免疫力，使人体免受病毒侵害。感冒病人的白细胞中维生素C的含量明显下降。

除了微量元素，还有牛磺酸。牛磺酸是一种氨基酸，能促进免疫系统淋巴细胞的生长和繁殖。另外，它还能清热、镇痛，缓解人体自身因抵御病毒而启动自动调节防御系统产生的症状——发烧，这就是“均衡营养免疫三部曲”的第三步。当人体受到严重侵害时，牛磺酸还发挥清热、退烧作用，进而增强人体的抵抗力。也就是说，人们特别是儿童如果能均衡补充多种有利于提高人体免疫力的营养素，搭建体内的营养——免疫防护屏障，就能比较有效地保护机体免受病毒的侵害。 

孩子一发烧，不分情由，马上用退热药，这是医疗中的大忌，发烧并不全是坏事，首先发烧是报告小儿患病的信号，其次发烧有利于调动小儿身体免疫功能，有利于杀灭与清除病菌，病毒，促使疾病痊愈。这是因为发烧以后，心跳增快，大约体温每升高一摄氏度，心率加快10－20次。心跳加快，血液循环旺盛，流向发炎处的血液量增多，一方面可以冲淡细菌及其产生的毒素，另一方面，白细胞也增加了，除了可以直接破坏，吞噬细菌和病毒
外，还能产生一种内源性热质，来产生具有杀灭细菌或病毒能力的抗体，促使疾病好转。同时，把血液中的铁质暂时储存于肝脏内。而细菌比人更需要铁，一旦缺铁，细菌就难以生长，从而达到消灭细菌的目的。
 
如果刚发烧就用过多的退烧药，不仅上述一系列变化难以实现，还可能掩盖病情，延误治疗时间。另外，退烧后症状变得不典型，也给诊断带来困难。所以，发烧时在确诊前不要急于退烧，遇有下列情况之一时才适当地选用相应的解热镇痛药：发热过高（39度以上）特别是小儿有高热惊厥者，热度虽不太高，但已经出现明显的头痛、失眠、意识障碍、影响患儿休息者；因持续发热，已经危害心肺功能，或对高热不能耐受者等，可酌情选用解热镇痛药。发烧确诊后也不要单纯退烧，退烧时也不要用药过多。

一般情况下，体温在38度以下，不需服用退热药，只要多饮水（少量多次饮），卧床休息。如发烧体温在38．5 度以上时，可用冷水浸湿的毛贴放在病儿前额、腋窝、大腿根股部等部位降温，若用冰袋效果更好；高热时，在医生指导下，给病儿服用适当剂量的退热药。切莫急得手忙脚乱，随便乱用药。 

有关儿科营养专家建议，幼儿发烧应进行以下饮食调理。

1．补充水分 

水胜过药，发热身体出汗多，勤喂温水进行补充很有必要。半岁以内婴儿，继续采用母乳喂养。母乳易消化，能保证营养需求，可补充水分。人工喂养，可喂稀释全脂奶，即
2份奶粉加1份水（2：l），此时婴儿虽然奶量减少些，但补充了水分，更利于幼儿消化吸收。幼儿发热宜以饮白开水，可适当喂些白开水，以补充人体的维生素C，增强抗病。饮水量的保持口唇滋润力度，不必过多。

2．流质饮食 

发热幼儿，饮食调理以流食为主，如奶类、藕粉、奶类（少油）等。也可喝些绿豆汤、冰西瓜、以助降温，利尿抗病。但对伴有腹泻的幼儿（6个月以内），抵抗力差，胃的蠕动弱，冒粘膜耐受性差，则冷饮不利于身体康复，应禁食之。当孩子体温下降，食欲好转时，可喂半流质，如肉末粥、面条、稀饭、蛋花粥、配些易消化的某（清花鱼）。饮食宜以清
淡，易消化为原则，油、盐宜少，少量多餐，切忌吃辛辣和刺激食品。但不必忌口，以防营养不良，抵抗力下降。 

3．服糖盐水 

幼儿发热伴腹泻，可多次服用。服糖盐水。配置比例500毫升水加一小匙糖和半酒瓶盖盐混合。4小时内可服500毫升。同时可补充电解质食物如柑桔、香蕉等水果（钾、钠较多）奶类与豆浆（含钙）、米汤、面食（含锌）。症状较重者，暂禁食，同时打“吊针”以补充水份和电解质。腹泻、呕吐缓解后可进流质食物，如米汤、过滤菜汁、藕粉等，但应禁食牛奶和豆浆（易产气）。 

对发热伴咳嗽小儿，不能进食过多以防呕吐，宜吃易消化食物，少吃海鲜和过咸过腻的食物，以防引起过敏和咳嗽，加重症状。 

孩子体质弱一般不主张注射免疫丙球蛋白增加抵抗力，因为免疫丙球蛋白属血液制品，使用有一定风险。小孩抵抗力低还是要多运动，是增强体质的关键。</string>
	<key>8</key>
	<string>    婴幼儿体温中枢发育尚未完善，遭遇呼吸道感染、过敏、接种反应等都会出现宝宝体温升高的情况，但又不能乱用药。那么当宝宝发烧或高热不退时，妈妈该采取什么措施帮助宝宝降低体温呢？

    1、 35%酒精擦浴

    酒精能扩张血管，蒸发时会带走大量热量，婴幼儿发烧时可以以此帮助降温。准备75%的酒精100毫升，加温水等量，保持温度在27〜37摄氏度左右，不能过冷，否则会引起肌肉收缩，致使热度又回升。酒精擦浴时，用小毛巾从宝宝颈部开始擦拭，从上往下擦，以拍擦方式进行，腋 窝、腹股沟处体表大动脉和血管丰富的地方要擦至皮肤微微发红，有利于降温。注意宝宝胸口、腹部、脚底不要擦，以免引起不良反应。

    2 、温水洗澡

    洗澡能帮助散热。如果宝宝发烧时精神状态较好，可以多洗澡，水温调节在27〜37摄氏度。注意不要给宝宝洗热水澡，否则易引起全身血管扩张、增加耗氧，容易导致缺血缺氧，加重病情。

    3 、热水泡脚

    泡脚可以促进血液循环，缓解不适。宝宝发烧时泡脚的另一妙处在于能帮助降温。泡脚可以用足盆或小桶，倒入2/3盆水，水温要略高于平时，温度在40摄氏度左右，以宝宝能适应为标准。泡脚时妈妈抚搓宝宝的两小脚丫，既使血管扩张，又能减轻发烧带来的不适感。

    4 、冰袋冷敷

    可以去商店购买化学冰袋，使用时放冰箱冷冻，由凝胶状态变成固体后取出，包上毛巾敷在宝宝头顶、前额、颈部、腋下、腹股沟等处，可以反复使用。也可以家庭自制冰袋：用一次性医用硅胶手套装水打结放冷冻柜，冻成固体后取用。如果觉得冰块太冰的话，可以在冰袋半冰半水的状态就取出，包上毛巾给宝宝冷敷。

    5 、冰枕

    宝宝高烧时可以做个冰枕给宝宝枕着，既舒服效果又好。去医院买个冰袋（不是热水袋）。把冰块倒入盆里，敲成小块，用水冲去棱角，装入冰袋，加入50〜100毫升水，不要装满，2/3满就可以，排净空气，夹紧袋口，包上布或毛巾放在宝宝头颈下当枕头。待冰块融化可重新更换，很快宝宝的体温会降下来。</string>
	<key>7</key>
	<string>◇6招简单正确的退烧法： 

　　那么哪些方法是爸妈在未带宝宝就医前，可在家中事先处理的呢？综合专家的建议，作为父母的您，正确的退烧方法应该是： 

　　1、维持家中的空气流通： 

　　若家有冷气，维持房间温度于25--27℃之间。可将幼儿置于冷气房中或以电扇绕转着吹，使体温慢慢地下降，如此幼儿也会感觉舒适些。但如果其四肢冰凉又猛打寒颤，则表示需要温热，所以要外加毛毯覆盖。 

　　2、脱掉过多的衣物： 

　　如果宝宝四肢及手脚温热且全身出汗，表示需要散热，可以少穿点衣物。 

　　3、温水拭浴： 

　　将宝宝身上衣物解开，用温水(37℃)毛巾全身上下搓揉，如此可使宝宝皮肤的血管扩张将体气散出，另外水气由体表蒸发时，也会吸收体热。 

　　4、用退热贴： 

　　有助于散热，但对较小的幼儿并不建议，因幼儿不易转动身体，冰枕易造成局部过冷或致体温过低。使用退热贴也可以，退热贴的胶状物质中的水份汽化时可以将热量带走，不会出现过分冷却的情况。 

　　5、多喝水： 

　　以助发汗，并防脱水。水有调节温度的功能，可使体温下降及补充宝宝体内的失水。 

　　6、使用退烧药： 

　　当婴幼儿中心温度（肛温或耳温）超过38.5℃时，可以适度的使用退烧药水或栓剂。 </string>
	<key>6</key>
	<string>1.治疗原发病
发热是疾病的一种表现，而不是一种独立的疾病。因此，对小儿发热不能单纯地着眼于退热，而应该积极寻找发热的原因，治疗原发病。
2.退热治疗
高热持续不退的患儿，为避免引起脑细胞损伤和由于体温过度升高而可能造成的不良影响，需要适当的降温措施。尤其对既往有高热惊厥史的患儿和高热伴极度烦躁的患儿，及时采取降温措施很有必要。发热小儿出现以下情况需警惕或紧急处理：出现热性惊厥；3个月内婴儿发热；发热持续超过5天；发热&gt;40℃且通过对乙酰氨基酚或布洛芬不能在2小时内有效降温；小儿行为明显改变：如不爱玩耍、没有食欲、很少说话、对周围事物漠不关心或突然出现以前从没有过的特殊表现；尿少，提示脱水，如婴儿每天尿湿尿布&lt;3块，或大一些儿童8〜12小时没有小便。
3.常用的降温措施有
（1）物理降温温水擦浴、用不漏水的塑料袋盛冰块外裹干毛巾敷头、颈，还可加敷腋窝和腹股沟等处。不提倡用冷水或酒精等擦浴。
（2）药物降温常用对乙酰氨基酚（&gt;3个月小儿）或布洛芬（&gt;6个月小儿）口服或直肠给药，每4〜6小时可用药一次，小儿应慎用阿司匹林（可导致瑞士综合征），一般不主张单用激素退热。
新生儿发热不宜采用药物降温，因为新生儿体温调节功能尚未发育完善。
（3）中医药降温针灸，中药口服、外敷或灌肠，推拿。
（4）人工冬眠疗法是以药物（氯丙嗪和异丙嗪两种药物等量混合）和物理降温相结合的一种降温方法。人工冬眠具有强有力的中枢神经保护性抑制作用，能使机体沉睡、降温、代谢率降低、耗氧量减少。主要适用于重症感染所致的持续高热不退或伴惊厥者，如中毒型细菌性痢疾、病毒性脑炎、化脓性脑膜炎等。
4.其他对症支持治疗
（1）提供舒适的降温环境，将患儿置放于环境安静、阴凉、空气流通处，衣着要凉爽透气，切忌采用捂被子发汗。
（2）及时补充水分和电解质，保持大小便通畅。
（3）给患儿营养丰富、清淡、易消化食物。</string>
	<key>5</key>
	<string>    对小儿发热，尤其是长期发热的病儿，要详细了解病史，注意在发热的同时所伴随的其他症状，并根据患儿的年龄、发病季节、有无传染病接触史等情况进行分析，并认真进行体检。除常规的实验室检查外，还要根据临床具体情况，有针对性地进行有关辅助检查。

1.脱水及酸碱平衡紊乱
高热容易造成脱水，也因服退热药大量出汗时体内丧失水分。脱水不仅使退热困难，还会影响新陈代谢和血液循环，发生酸中毒等。同时血中钠浓度升高，血液高渗，患儿会发生口干口渴、烦躁不安甚至说胡话或抽搐，热度不仅不退且会更高，可能会发生低钠血症，多见于平时有营养不良的婴幼儿。
2.热性惊厥
有些患儿发热时可发生抽搐，多发生于高热骤起之时，一次发热一般发作一次，很少超过2次以上，只要抽搐时间不长，处理得当，对孩子健康影响不大。
3.脑水肿
当体温超过41℃时，体内蛋白质会发生分解，可引起脑水肿而致病孩死亡或留下脑病后遗症。因此，孩子出现40℃以上高热时必须紧急处理。</string>
	<key>4</key>
	<string>1.实验室检查
（1）血常规外周血中白细胞计数降低，多为病毒感染。白细胞及中性粒细胞百分比增高，多为细菌感染。外周血中有异常淋巴细胞提示病毒感染。幼稚细胞则提示白血病。
（2）长期发热患儿血培养，检查C-反应蛋白、前降钙素原、血沉、抗链球菌溶血素“O”、肝肾功能、肥达反应、外斐反应、嗜异性凝集试验、肺炎支原体抗体和类风湿因子等，还应做结核菌素试验。
（3）粪便常规、粪便培养考虑为消化系统感染者。
（4）尿常规当伴有泌尿系统症状时检查。
（5）脑脊液检查当小儿高热伴有头痛、呕吐、抽搐、意识障碍等中枢神经系统症状时。
（6）骨髓穿刺当小儿高热伴有贫血、肝脾和淋巴结肿大等症状时。
2.其他辅助检查
根据临床具体情况，有针对性地进行有关辅助检查，如X线、CT、磁共振、B型超声、心电图等检查及活体组织病检。</string>
	<key>3</key>
	<string>临床表现
1.发热程度分级（腋表）
（1）低热37.5〜38.0℃；
（2）中等热38.1〜39.0℃；
（3）高热39.1〜40.0℃；
（4）超高热40℃以上。
2.按发热时间长短可分为
（1）短期发热发热&lt;2周，多伴有局部症状和体征；
（2）长期发热发热时间≥2周，有些可无明显症状、体征；
（3）原因不明发热（FUO）发热持续或间歇超过3周，经体检、常规辅助检查不能确诊者；
（4）慢性低热低热持续一个月以上。
3.发热的常见热型
小儿热型不如成人典型，近年由于抗生素的广泛使用，以及肾上腺皮质激素的应用，使热型发生变化，同时热型对疾病的鉴别诊断意义受到影响。
（1）稽留热持续发热，体温波动很小，一般不超过0.6℃；
（2）弛张热发热体温波动上下2〜3℃，但未降到正常；
（3）间歇热发热回到正常至少24小时又发热；
（4）双峰热24小时内发热有两次高峰；
（5）复发性或再发性发热发热多次发作，每次持续数日，发作期间1至数日体温正常；
（6）不规则热热型无一定规律。
4.发热的分期
在发热过程中，由于产热和散热这对矛盾不断发生变化，所以发热一般可分为四个阶段：
（1）前驱期许多发热疾病可无此期症状。此期症状持续时间，根据发热疾病的具体情况而不同，主要表现为全身不适、疲倦乏力、腰背及四肢痛、头痛、食欲减退、情绪不稳定、低热；有些发疹性疾病，在全身皮疹出现前，可有前驱疹，如麻疹前驱期时，口腔黏膜可出现克氏斑。
（2）体温上升期特点是产热多而散热少，因此产热占优势，故体温升高。表现为皮肤苍白、干燥、无汗、“鸡皮疙瘩”，触摸患儿皮肤有冷感；如发生寒战，预示将发生高热。幼儿此时可出现惊厥现象。在寒战期间，体温多在38℃以上，并多数在数小时内达到高热极期，如疟疾、大叶性肺炎、败血症、药物反应性发热等，以上为体温骤升者。体温渐升者，指发热初期为低热，数天内由低热逐渐上升达到高热者，称为渐升性发热。渐升者常有前驱症状，多数无寒战现象，但有时可感觉发冷，如不典型的伤寒。有的呈骤升性发热，这可能开始为低热被忽略所致。另外，肺结核等疾病的体温呈渐升性发热。
（3）高温持续期此时体温已达高峰，本期的特点是散热过程开始增强，但产热并未降低，所以此期产热和散热在新的基础上重新建立相对的平衡，使体温维持在一定的高水平上。临床上表现为皮肤潮红而灼热、呼吸加快加强、出汗等，此期出现高热可持续几小时（如疟疾）或数天（如肺炎），甚至几周以上（如伤寒）。
（4）体温下降期本期特点是散热过程占优势，产热减少，同时通过体温调节中枢的调节，散热仍处于较高水平，病人体表皮肤血管扩张，大量出汗，散热加强，于是体温开始下降，产热和散热终于恢复正常的相对平衡状态。体温下降的方式，一般是渐退，即在几天之内体温逐渐恢复正常（如伤寒）；也有骤退的，即体温在十几个小时或更短的时间内降到正常，甚至低于正常（如大叶性肺炎）。在体温下降时，由于大量出汗，丧失大量的体液，因此对于高热小儿在使用退热药时，必须慎重，以防造成虚脱及其他并发症。
5.发热的伴随体征
根据一些伴随体征能帮助找到小儿高热的诱因：
（1）若发现咽部充血、扁桃体肿大，可能为上呼吸道感染、急性扁桃腺炎；
（2）若皮肤出现皮疹，可能为常见的出疹性传染病，如幼儿急疹、麻疹、风疹等；
（3）若发现疱疹，可能为水痘、手足口病等；
（4）若发现皮肤有淤斑，应考虑流行性脑脊髓膜炎，亦应考虑血液系统疾病；
（5）若发现浅表淋巴结肿大，应考虑传染性单核细胞增多症、皮肤黏膜淋巴结综合征，亦应该注意白血病和恶性淋巴瘤；
（6）若发现口腔黏膜有斑点，可能为麻疹；
（7）若肺部听诊闻及痰鸣音或水泡音，是急性支气管炎或支气管肺炎的体征，肺部听诊有哮鸣音，应考虑喘息性支气管炎或支气管哮喘
（8）腹部有明显的压痛或其他体征，应注意急腹症如急性阑尾炎、肠梗阻等。</string>
	<key>1</key>
	<string>    发热是指体温超过正常范围高限，是小儿十分常见的一种症状。正常小儿腋表体温为36〜37℃（肛表测得的体温比口表高约0.3℃，口表测得的体温比腋表高约0.4℃），腋表如超过37.4℃可认为是发热。在多数情况下，发热是身体和入侵病原作战的一种保护性反应，是人体正在发动免疫系统抵抗感染的一个过程。体温的异常升高与疾病的严重程度不一定成正比，但发热过高或长期发热可使机体各种调节功能受累，从而影响小儿的身体健康，因此，对确认发热的孩子，应积极查明原因，针对病因进行治疗。

小儿的正常体温可以因性别、年龄、昼夜及季节变化、饮食、哭闹、气温以及衣被的厚薄等因素影响有一定范围的波动。体温稍有升高，并不一定有病理意义。在小儿体温升高时，要注意观察患儿的神态和举止。体温在38℃，神情呆滞的孩子，和体温在40℃，但仍然顽皮的孩子相比，前者更值得我们关注。而机体抵抗力低的孩子，纵使患了严重的疾病，很可能也不会发热。</string>
	<key>2</key>
	<string>1.短期发热（发热&lt;2周）
短期发热在儿科多数由感染引起，一般预后良好或属自限性疾病，但发热也可能是危重患儿的早期表现，尤其具有精神萎靡、嗜睡、面色苍白等中毒症状较重的小儿。应注意患儿的病史、传染病接触史，及有无呼吸、消化、泌尿、神经等系统的症状与体征，有无皮疹、出血点、黄疸、贫血、淋巴结或肝脾肿大及局部感染灶等。
2.长期发热（发热≥2周）
（1）感染性发热
1）呼吸系统感染最多见，病原体包括病毒、支原体、细菌及结核菌等；
2）其他系统感染肠道感染、泌尿系统感染、中枢神经系统感染（脑炎、脑膜炎）、心血管系统感染（如感染性心内膜炎、心包炎）、肝胆系统感染（如肝炎、胆管炎、肝脓肿等）；
3）全身性感染如败血症、结核病、伤寒、副伤寒、斑疹伤寒、布氏杆菌病、EB病毒感染、巨细胞病毒感染、莱姆病、钩端螺旋体病、疟疾、黑热病、血吸虫病及真菌感染等；
4）脓肿或局限性感染如骨髓炎、肾周围脓肿、膈下脓肿、阑尾脓肿、肛周脓肿等。
（2）非感染性发热
1）风湿性疾病以幼年型类风湿性关节炎最常见。近年随着链球菌感染被及时控制，风湿热现已较少见。其他引起发热的风湿性疾病有系统性红斑狼疮、结节性多动脉炎、川崎病、血清病、皮肌炎、结节性非化脓性脂膜炎、韦格恶性肉芽肿及血管性免疫母细胞淋巴结病等。
2）组织破坏或坏死恶性肿瘤，以白血病最常见，其他有恶性淋巴瘤（包括霍奇金及非霍奇金淋巴瘤）、成神经细胞瘤、恶性组织细胞病、朗格罕组织细胞增生症及尤文肉瘤等；大面积烧伤、大手术后、内出血吸收过程、血管栓塞等。
3）产热过多或散热减少产热过多见于甲状腺功能亢进、癫痫持续状态、肾上腺皮质功能亢进；散热减少见于广泛性皮炎、大量失水、失血,中暑、先天性外胚叶发育不良以及新生儿包裹过多等。
4）下丘脑体温调节中枢疾患如颅骨损伤、大脑发育不全、颅内肿瘤、蛛网膜下腔出血、暑热症、中毒性脑病、脑炎后遗症及间脑病变等。
5）自主神经功能紊乱如功能性低热、慢性非特异性淋巴细胞增多症。
6）其他药物热、药物中毒（如水杨酸、阿托品）、输血或输液反应、高钠血症（垂体性或肾性尿崩症）、炎性肠病及免疫缺陷病等。
3.慢性低热（长期低热）
指起病较缓，体温在37.5〜38.0℃，持续4周以上者。40%为感染性发热，57%为非感染性发热，3%原因不明。
首先要除外结核病，包括肺结核；慢性低热常由感染后引起，如链球菌感染后综合征及其他感染后发热，并要寻找是否存在慢性病灶或小脓肿，如慢性隐窝性扁桃体炎、淋巴结炎、鼻窦炎、龋齿、牙龈脓肿、肛周脓肿等。
慢性低热的非感染性疾病有甲状腺功能亢进、尿崩症、风湿性疾病、炎性肠病（克隆病及溃疡性结肠炎）、血液病、夏季低热、蛋白质摄入过高及测试体温时间过长等。
除外以上病因，如仍然找不到低热原因，但患儿又无任何病态，只需随访观察，低热可在数周后自行降至正常</string>
</dict>
</plist>
